@model baithi.Models.loai

@{
    ViewBag.Title = "Xóa thể loại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Bạn có chắc chắn muốn xóa sản phẩm này không?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenloai)
        </dd>

        <dt>
            Công dụng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.congdung)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa thể loại" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại trang thể loại", "Index")
        </div>
    }
</div>
