
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fuild banner-top">
    <div class="owl-banner-top owl-carousel owl-theme">
        <div class="item">
            <img src="images/adse-bn-01.png" alt="" srcset="">
        </div>
        <div class="item">
            <img src="images/ban-bg9.jpg" alt="" srcset="">
        </div>
        <div class="item">
            <img src="images/lap-trinh-.net_.png" alt="" srcset="">
        </div>
        <div class="item">
            <img src="images/lap-trinh-c.png" alt="" srcset="">
        </div>
        <div class="item">
            <img src="images/lap-trinh-java.png" alt="" srcset="">
        </div>
    </div>
</div>

<section class="experience">
    <div class="container">
        <div class="box-text">
            <h2 class="section-title">20 NĂM KINH NGHIỆM ĐÀO TẠO LẬP TRÌNH</h2>
            <hr class="section-hr">
            <h3 class="section-desc">LÀ ĐƠN VỊ SỐ 1 VỀ ĐÀO TẠO CNTT TẠI VIỆT NAM</h3>
        </div>
        <div class="owl-blog-post owl-carousel owl-theme blog-post">
            <div class="item">
                <div class="post-item">
                    <div class="box-img">
                        <img src="images/IMG_6158-1365x1024-1.jpg" alt="" srcset="">
                    </div>
                    <div class="box-text">
                        <p>Hanoi Aptech có 20 năm kinh nghiệm đào tạo lập trình và các lĩnh vực trong ngành CNTT. Chương trình học chuẩn Aptech Quốc Tế với phương pháp dạy hiện đai, tập trung thực hành, làm dự án thực tế.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post-item">
                    <div class="box-img">
                        <img src="images/IMG_6158-1365x1024-1.jpg" alt="" srcset="">
                    </div>
                    <div class="box-text">
                        <p>Hanoi Aptech có 20 năm kinh nghiệm đào tạo lập trình và các lĩnh vực trong ngành CNTT. Chương trình học chuẩn Aptech Quốc Tế với phương pháp dạy hiện đai, tập trung thực hành, làm dự án thực tế.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post-item">
                    <div class="box-img">
                        <img src="images/IMG_6158-1365x1024-1.jpg" alt="" srcset="">
                    </div>
                    <div class="box-text">
                        <p>Hanoi Aptech có 20 năm kinh nghiệm đào tạo lập trình và các lĩnh vực trong ngành CNTT. Chương trình học chuẩn Aptech Quốc Tế với phương pháp dạy hiện đai, tập trung thực hành, làm dự án thực tế.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post-item">
                    <div class="box-img">
                        <img src="images/IMG_6158-1365x1024-1.jpg" alt="" srcset="">
                    </div>
                    <div class="box-text">
                        <p>Hanoi Aptech có 20 năm kinh nghiệm đào tạo lập trình và các lĩnh vực trong ngành CNTT. Chương trình học chuẩn Aptech Quốc Tế với phương pháp dạy hiện đai, tập trung thực hành, làm dự án thực tế.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post-item">
                    <div class="box-img">
                        <img src="images/IMG_6158-1365x1024-1.jpg" alt="" srcset="">
                    </div>
                    <div class="box-text">
                        <p>Hanoi Aptech có 20 năm kinh nghiệm đào tạo lập trình và các lĩnh vực trong ngành CNTT. Chương trình học chuẩn Aptech Quốc Tế với phương pháp dạy hiện đai, tập trung thực hành, làm dự án thực tế.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="post-item">
                    <div class="box-img">
                        <img src="images/IMG_6158-1365x1024-1.jpg" alt="" srcset="">
                    </div>
                    <div class="box-text">
                        <p>Hanoi Aptech có 20 năm kinh nghiệm đào tạo lập trình và các lĩnh vực trong ngành CNTT. Chương trình học chuẩn Aptech Quốc Tế với phương pháp dạy hiện đai, tập trung thực hành, làm dự án thực tế.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="box-text">
                    <h2>Cơ hội kiếm mức thu nhập <br> 1000$ - 2000$</h2>
                    <h3>Từ khóa lập trình viên quốc tế ADSE 2021</h3>
                    <h4>Lập trình chất - Thành công thật</h4>
                </div>
                <div class="form-tuvan">
                    <form action="" method="post">
                        <input type="text" name="name" id="" placeholder="Họ và tên">
                        <input type="tel" name="phone" id="" placeholder="Số điện thoại">
                        <input type="email" name="email" id="" placeholder="Email">
                        <input type="text" name="address" id="" placeholder="Địa chỉ">
                        <button type="submit">Đăng ký</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="box-img">
                    <img src="images/iconn-01-01-01-1383x1536.png" alt="" srcset="">
                </div>
            </div>
            <div class="col-12">
                <div id="counter">
                    <div class="box-counter">
                        <p>
                            <span class="counter-value" data-count="300">0</span>
                            Năm
                        </p>
                        <p>KINH NGHIỆM</p>
                    </div>
                    <div class="box-counter">
                        <p>
                            <span class="counter-value" data-count="300">0</span>
                            Năm
                        </p>
                        <p>KINH NGHIỆM</p>
                    </div>
                    <div class="box-counter">
                        <p>
                            <span class="counter-value" data-count="300">0</span>
                            Năm
                        </p>
                        <p>KINH NGHIỆM</p>
                    </div>
                    <div class="box-counter">
                        <p>
                            <span class="counter-value" data-count="300">0</span>
                            Năm
                        </p>
                        <p>KINH NGHIỆM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="join-course">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 col-left">
                <h2>Điện lực - EPU</h2>
                <h3>20 năm tiên phong đào tạo lập trình tại việt nam</h3>
            </div>
            <div class="col-md-8 col-12 col-right">
                <p>“We don’t keep up with technology. We stay ahead of it – Chúng tôi không chạy theo công nghệ. Chúng tôi đón đầu công nghệ!”</p>
                <a href="#">Tham gia khóa học</a>
            </div>
        </div>
    </div>
</section>

<section class="s4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <img src="images/2844241-01-01.png" alt="">
            </div>
            <div class="col-md-6 col-12">
                <h2>LẬP TRÌNH ĐỂ THAY ĐỔI TƯƠNG LAI</h2>
                <div class="row">
                    <div class="col-12 box-icon">
                        <div class="box-img">
                            <i class="fas fa-brain"></i>
                        </div>
                        <div class="box-text">
                            <p>Phát triển tư duy sáng tạo</p>
                            <p>Lập trình giúp bạn phát huy tối đa tư duy logic của bản thân và giúp bạn nhạy bén trong việc giải quyết vấn đề. </p>
                        </div>
                    </div>
                    <div class="col-12 box-icon">
                        <div class="box-img">
                            <i class="fas fa-brain"></i>
                        </div>
                        <div class="box-text">
                            <p>Phát triển tư duy sáng tạo</p>
                            <p>Lập trình giúp bạn phát huy tối đa tư duy logic của bản thân và giúp bạn nhạy bén trong việc giải quyết vấn đề. </p>
                        </div>
                    </div>
                    <div class="col-12 box-icon">
                        <div class="box-img">
                            <i class="fas fa-brain"></i>
                        </div>
                        <div class="box-text">
                            <p>Phát triển tư duy sáng tạo</p>
                            <p>Lập trình giúp bạn phát huy tối đa tư duy logic của bản thân và giúp bạn nhạy bén trong việc giải quyết vấn đề. </p>
                        </div>
                    </div>
                    <div class="col-12 box-icon">
                        <div class="box-img">
                            <i class="fas fa-brain"></i>
                        </div>
                        <div class="box-text">
                            <p>Phát triển tư duy sáng tạo</p>
                            <p>Lập trình giúp bạn phát huy tối đa tư duy logic của bản thân và giúp bạn nhạy bén trong việc giải quyết vấn đề. </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="s5">
    <div class="container">
        <h2>Bạn có đam mê với nghề lập trình</h2>
        <h3>NHƯNG KHÔNG BIẾT BẮT ĐẦU TỪ ĐÂU?</h3>
        <a href="#">Nhận tư vấn lộ trình học phù hợp nhất với bạn!</a>
    </div>
</section>

<section class="s6">
    <div class="container">
        <h2>LÝ DO BẠN NÊN HỌC LẬP TRÌNH TẠI HANOI APTECH</h2>
        <div class="row">
            <div class="col-md-6 col-12 col-lydo">
                <div class="box-img">
                    <img src="images/gold-medal.svg" alt="" srcset="">
                </div>
                <div class="box-text">
                    <h3>SỐ 1 VỀ ĐÀO TẠO CNTT TẠI VN</h3>
                    <p>Aptech tư hào 17 năm liên tiếp đạt danh hiệu Đơn vị đào tạo số 1 về CNTT tại Việt Nam. Phát triển chất lượng giáo dục trên hơn 40 Quốc Gia.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lydo">
                <div class="box-img">
                    <img src="images/gold-medal.svg" alt="" srcset="">
                </div>
                <div class="box-text">
                    <h3>SỐ 1 VỀ ĐÀO TẠO CNTT TẠI VN</h3>
                    <p>Aptech tư hào 17 năm liên tiếp đạt danh hiệu Đơn vị đào tạo số 1 về CNTT tại Việt Nam. Phát triển chất lượng giáo dục trên hơn 40 Quốc Gia.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lydo">
                <div class="box-img">
                    <img src="images/gold-medal.svg" alt="" srcset="">
                </div>
                <div class="box-text">
                    <h3>SỐ 1 VỀ ĐÀO TẠO CNTT TẠI VN</h3>
                    <p>Aptech tư hào 17 năm liên tiếp đạt danh hiệu Đơn vị đào tạo số 1 về CNTT tại Việt Nam. Phát triển chất lượng giáo dục trên hơn 40 Quốc Gia.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lydo">
                <div class="box-img">
                    <img src="images/gold-medal.svg" alt="" srcset="">
                </div>
                <div class="box-text">
                    <h3>SỐ 1 VỀ ĐÀO TẠO CNTT TẠI VN</h3>
                    <p>Aptech tư hào 17 năm liên tiếp đạt danh hiệu Đơn vị đào tạo số 1 về CNTT tại Việt Nam. Phát triển chất lượng giáo dục trên hơn 40 Quốc Gia.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lydo">
                <div class="box-img">
                    <img src="images/gold-medal.svg" alt="" srcset="">
                </div>
                <div class="box-text">
                    <h3>SỐ 1 VỀ ĐÀO TẠO CNTT TẠI VN</h3>
                    <p>Aptech tư hào 17 năm liên tiếp đạt danh hiệu Đơn vị đào tạo số 1 về CNTT tại Việt Nam. Phát triển chất lượng giáo dục trên hơn 40 Quốc Gia.</p>
                </div>
            </div>
            <div class="col-md-6 col-12 col-lydo">
                <div class="box-img">
                    <img src="images/gold-medal.svg" alt="" srcset="">
                </div>
                <div class="box-text">
                    <h3>SỐ 1 VỀ ĐÀO TẠO CNTT TẠI VN</h3>
                    <p>Aptech tư hào 17 năm liên tiếp đạt danh hiệu Đơn vị đào tạo số 1 về CNTT tại Việt Nam. Phát triển chất lượng giáo dục trên hơn 40 Quốc Gia.</p>
                </div>
            </div>
            <div class="col-12" style="text-align:center">
                <a href="#" class="btn-tuvan">Nhận tư vấn</a>
            </div>
        </div>
    </div>

</section>

<section class="blog-post-news">
    <div class="container">
        <h2>TIN TỨC MỚI</h2>
        <div class="owl-carousel owl-theme post-news">
            <div class="item">
                <div class="post-item">
                    <div class="box-img">
                        <img src="images/IMG_6158-1365x1024-1.jpg" alt="" srcset="">
                    </div>
                    <div class="box-text">
                        <p class="meta-date"><i class="far fa-calendar"></i> 20/05/2021</p>
                        <p class="post-meta"><i class="far fa-folder"></i> Tin về</p>
                        <p class="post-desc">Hanoi Aptech có 20 năm kinh nghiệm đào tạo lập trình và các lĩnh vực trong ngành CNTT. Chương trình học chuẩn Aptech Quốc Tế với phương pháp dạy hiện đai, tập trung thực hành, làm dự án thực tế.</p>
                        <a href="#" class="btn-readmore">Đọc thêm...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partner">
    <div class="container">
        <h2>ĐỐI TÁC CỦA HANOI - APTECH</h2>
        <div class="owl-carousel owl-theme owl-partner">
            <div class="item">
                <img src="images/1280px-Samsung_Logo.svg.png" alt="">
            </div>
            <div class="item">
                <img src="images/1280px-Samsung_Logo.svg.png" alt="">
            </div>
            <div class="item">
                <img src="images/1280px-Samsung_Logo.svg.png" alt="">
            </div>
            <div class="item">
                <img src="images/1280px-Samsung_Logo.svg.png" alt="">
            </div>
            <div class="item">
                <img src="images/1280px-Samsung_Logo.svg.png" alt="">
            </div>
            <div class="item">
                <img src="images/1280px-Samsung_Logo.svg.png" alt="">
            </div>
            <div class="item">
                <img src="images/1280px-Samsung_Logo.svg.png" alt="">
            </div>
        </div>
    </div>

</section>


<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <h2 class="title-heading-footer">KHÓA HỌC SẮP KHAI GIẢNG</h2>
                <ul class="course">
                    <li>LẬP TRÌNH VIÊN QUỐC TẾ</li>
                    <li>LẬP TRÌNH VIÊN QUỐC TẾ</li>
                    <li>LẬP TRÌNH VIÊN QUỐC TẾ</li>
                </ul>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Faptech.vn%2F&amp;tabs=timeline&amp;width=310&amp;height=130&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="310" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div class="col-md-4 col-12">
                <h2 class="title-heading-footer">LIÊN HỆ</h2>
                <ul class="address">
                    <li>19 Nguyễn Trãi, Ngã Tư Sở, Hà Nội</li>
                    <li>Tel: (024) 3563 7511 </li>
                    <li>Hotline: 0382020858 </li>
                    <li>Mail: aptech@indochinapro.com</li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <h2 class="title-heading-footer">LIÊN HỆ</h2>
                <div class="form-tuvan">
                    <form action="" method="post">
                        <input type="text" name="name" id="" placeholder="Họ và tên">
                        <input type="tel" name="phone" id="" placeholder="Số điện thoại">
                        <input type="email" name="email" id="" placeholder="Email">
                        <input type="text" name="address" id="" placeholder="Địa chỉ">
                        <button type="submit">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="call-now-button ui-draggable ui-draggable-handle" id="draggable">
    <div>
        <p class="call-text"> 0382020858 </p>
        <a href="tel:0382020858" id="quickcallbutton" onclick="ga('send', 'event', 'Contact', 'Quick Call Button', 'Phone');" title="Call Now">
            <div class="quick-alo-ph-circle active"></div>
            <div class="quick-alo-ph-circle-fill active"></div>
            <div class="quick-alo-ph-img-circle shake"></div>
        </a>
    </div>
</div>

